main {
  font-family: "Roboto";
  line-height: 1.7;
}
.container {
  padding: 10px;
  background-color: #FDFDF8;
}

.title {
  text-align: center;
  padding: 2rem 0;
}

.discord {
  text-decoration: none;
  color: #7b3d29;
  border-bottom-style: solid;
  border-bottom-color: #7b3d29;
  border-bottom-width: 2px;
}

.discord:hover {
  color: black;
  border-bottom-style: none;
}